<div id="about">
	@(Html.Partial("_AdPartial"))
	<div class="panel panel-success pan">
		<div class="panel-heading"><h1 class="zero lowercase"><i class="fa fa-download mrm"></i>About</h1></div>
		<div class="panel-body">
			<p>
				This is a Managed port of the Android Debug Bridge to allow communication from .NET applications to Android devices.
				This wraps the same methods that the ddms uses to directly communicate with ADB. This gives more flexibility to the developer
				then launching an adb process and executing one of its built in commands.
			</p>
		</div>
	</div>
</div>
