<div id="about">
	@(Html.Partial("_AdPartial"))
	<div class="panel panel-default pan">
		<div class="panel-heading"><h1 class="zero lowercase"><i class="fa fa-download mrm"></i>About</h1></div>
		<div class="panel-body">
			<p>
				Camalot.Common contains extensions, objects and other methods that I found myself rewriting over and over. I made this library so I did not have to duplicate the code. 
				You may find these useful, or you may not.
			</p>
		</div>
	</div>
</div>
