<div id="license">
	@(Html.Partial("_AdPartial"))
	<div class="panel panel-default pan">
		<div class="panel-heading"><h1 class="zero lowercase"><i class="fa fa-certificate mrm"></i>License</h1></div>
		<div class="panel-body">
			<div class="gist-container">
				@(Html.Action("Gist", new { controller = "assets", id = "3d408440566327fe5c62" }))
			</div>
		</div>
	</div>
</div>