<div id="nuget">
	@(Html.Partial("_AdPartial"))
	<div class="panel panel-default pan">
		<div class="panel-heading"><h1 class="zero lowercase"><i class="fa fa-download mrm"></i>Nuget</h1></div>
		<div class="panel-body">
			<div class="nuget-badge mtl">
				<code class="text-success">PM&gt; Install-Package Managed.Adb</code>
				<div class="close mtn4 mrs"><a title="Visit nuget.org" href="https://nuget.org/packages/managed.adb/" target="_blank"><i class="fa-2x fa fa-external-link"></i></a></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>