<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<sectionGroup name="camalot.common">
			<section name="bundles" requirePermission="false" type="Camalot.Common.Mvc.Configuration.Handlers.BundlesSectionHandler, Camalot.Common.Mvc" />
		</sectionGroup>
	</configSections>
	<connectionStrings>

	</connectionStrings>
	<appSettings>
		<add key="site:Name" value="MadBee"/>
		<add key="site:NamespacesIgnoreList" value="Managed.Adb.Properties;Managed.Adb.Conversion;Managed.Adb.IO;"/>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="Managed.Adb" value="Managed.AndroidDebugBridge"/>
	</appSettings>
	<system.web>
		<authentication mode="None" />
		<compilation debug="true" targetFramework="4.5.1" />
		<httpRuntime targetFramework="4.5.1" />
	</system.web>
	<system.webServer>
		<modules>
			<remove name="FormsAuthentication" />
		</modules>
		<staticContent>
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
			<remove fileExtension=".svg" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
		</staticContent>

		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="Documentation-Integrated-4.0" path="documentation/index/*" verb="GET,HEAD" type="System.Web.Handlers.TransferRequestHandler" preCondition="runtimeVersionv4.0" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MoreLinq" publicKeyToken="384d532d7e88985d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.1.17511.0" newVersion="1.1.17511.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<camalot.common>
		<bundles>
			<ignores>
				<ignore pattern="*.map" when="Always" />
			</ignores>
			<scripts>
				<bundle name="~/js/jquery">
					<include path="~/assets/scripts/jquery-{version}.js" />
				</bundle>
				<bundle name="~/js/modernizr">
					<include path="~/assets/scripts/modernizr-*" />
				</bundle>
				<bundle name="~/js/bootstrap">
					<include path="~/assets/scripts/bootstrap.js" />
					<include path="~/assets/scripts/respond.js" />
					<include path="~/assets/scripts/respond.matchmedia.addListener.js" />
				</bundle>
				<bundle name="~/js/system">
					<include path="~/assets/scripts/endpointmvc.js" />
					<include path="~/assets/scripts/jquery.scrollto.js" />
					<include path="~/assets/scripts/toastr.js" />
					<include path="~/assets/scripts/system.*" />
				</bundle>
				<bundle name="~/js/mousetrap">
					<include path="~/assets/scripts/mousetrap.js" />
				</bundle>
				<!--bundle name="~/bundles/knockout">
					<include path="~/assets/scripts/knockout-{version}.js"/>
				</bundle-->
			</scripts>
			<styles>
				<bundle name="~/css/site">
					<include path="~/assets/styles/toastr.css" />
					<include path="~/assets/styles/bootstrap.css" />
					<!--<include path="~/assets/styles/bootswatch.css" />-->
					<include path="~/assets/styles/endpointmvc.css" />

					<include path="~/assets/styles/spacing.css" />
					<include path="~/assets/styles/typography.css" />
					<include path="~/assets/styles/colors.css" />
					<include path="~/assets/styles/gist.css" />
					<include path="~/assets/styles/google.adsense.css" />
					<include path="~/assets/styles/font-awesome.css" />
					<include path="~/assets/styles/nuget.css" />
					<include path="~/assets/styles/bootstrap-overrides.css" />
					<!--<include path="~/assets/styles/bootstrap-win8.css" />-->
					<include path="~/assets/styles/bootswatch-paper.css" />
					<include path="~/assets/styles/main.css" />
				</bundle>
			</styles>
		</bundles>
	</camalot.common>
</configuration>