<div id="about">
	@(Html.Partial("_AdPartial"))
	<div class="panel panel-success pan">
		<div class="panel-heading"><h1 class="zero lowercase"><i class="fa fa-question-circle mrm"></i>About</h1></div>
		<div class="panel-body">
			<p>
				This is a Managed port of the Android Debug Bridge to allow communication from .NET applications to Android devices.
				This wraps the same methods that the ddms uses to directly communicate with ADB. This gives more flexibility to the developer
				then launching an adb process and executing one of its built in commands.
			</p>
			<p class="text-center">
				<a href="https://madb.codeplex.com/" class="btn btn-info btn-lg"><i class="fa fa-external-link-square mrs" title="Project"></i><span class="">Project</span></a>
				<a href="https://madb.codeplex.com/SourceControl/latest#trunk/Managed.AndroidDebugBridge/" class="btn btn-info btn-lg"><i class="fa fa-code-fork mrs" title="Source"></i><span class="">Source</span></a>
				<a href="https://madb.codeplex.com/releases" class="btn btn-info btn-lg"><i class="fa fa-download mrs" title="Download"></i><span class="">Download</span></a>
				<a href="https://madb.codeplex.com/workitem/list/basic" class="btn btn-info btn-lg"><i class="fa fa-bug mrs" title="Issues"></i><span class="">Issues</span></a>
				<a href="https://madb.codeplex.com/discussions" class="btn btn-info btn-lg"><i class="fa fa-quote-left mrs" title="Discussions"></i><span class="">Discussions</span></a>
			</p>
		</div>
	</div>
</div>
