.responsivewin8 { width: 320px; height: 50px; }
@media(min-width: 500px) {
 .responsivewin8 { width: 468px; height: 60px; }
}
@media(min-width: 800px) {
 .responsivewin8 { width: 728px; height: 90px; }
}
